@model EsteraApp.Models.Person

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mbiemer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mbiemer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Atesi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Atesi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amesi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amesi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gjinia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gjinia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datelindja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datelindja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vendlindja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vendlindja)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
